@using ProductShop.Utils
@using Microsoft.Extensions.Localization
@using ProductShop.Controllers
@inject IStringLocalizer<HomeController> Localizer


@{
    // функція для зчитування мови з маршруту
    string curLang = "uk";
    string pathLang = this.ViewContext.RouteData.Values["lang"] as string;
    if (pathLang != null)
    {
        curLang = pathLang;
    }
    // отримуємо список мов із вюшки
    List<LocalizationVM> listLang = LocalizationHelper.GetLanguages();

    var request = this.ViewContext.HttpContext.Request;
    //формуваення стрінги з контролера і екшена
    var currPath = string.Format("/{0}/{1}", this.ViewContext.RouteData.Values["controller"].ToString(),
    this.ViewContext.RouteData.Values["action"].ToString());

    var host = string.Format("{0}://{1}", request.Scheme, request.Host);
    string fullPath = string.Format("{0}/{{0}}{1}", host, currPath);
}


<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProductShop</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav  me-auto">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area=""
                       asp-controller="Home" asp-action="Edit">@Localizer["Edit"]</a>
                </li>
            </ul>

            @*dropdown, який дає можливість мінять мову інтерфейсу*@
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" data-bs-target="#langMenu">
                            <span style="font-size:17px;"><span class="fa fa-globe" aria-hidden="true"></span> @listLang.FirstOrDefault(x => x.locCode == curLang)?.locName</span>
                        </a>
                        <div class="dropdown-menu" id="langMenu">
                            @foreach (var item in listLang)
                            {
                                string active = item.locCode == curLang ? "active" : "";
                                <a class="dropdown-item @active" href="@(string.Format(fullPath, item.locCode))">
                                    @item.locName
                                </a>
                            }
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
